<a href="https://colab.research.google.com/github/thuhuong205201/Data_preparing/blob/main/Homework3_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/content/drive/MyDrive/datapreparing/dataset/earthquakes.csv")
data.head()

  alert  cdi  ...        updated                                                url
0   NaN  NaN  ...  1539475395144  https://earthquake.usgs.gov/earthquakes/eventp...
1   NaN  NaN  ...  1539475253925  https://earthquake.usgs.gov/earthquakes/eventp...
2   NaN  4.4  ...  1539536756176  https://earthquake.usgs.gov/earthquakes/eventp...
3   NaN  NaN  ...  1539475196167  https://earthquake.usgs.gov/earthquakes/eventp...
4   NaN  NaN  ...  1539477547926  https://earthquake.usgs.gov/earthquakes/eventp...

[5 rows x 26 columns]

In [3]:
data.shape

(9332, 26)

In [4]:
x = sum((data.magType == "ml") & (data.type == "explosion"))
x

79

2.Calculate the mean of mag in Alaska and the distance is smaller than 100km, example: "62km W of Cantwell, Alaska".

In [5]:
output = data.mag[(data.place.str.contains("Alaska")) & (~data.place.str.contains("\d{3,}", regex=True))].mean()
output

1.3744199088678577

3.Calculate the mean of mag in each quarter (q1:m1-m3, q2: m4-m6, q3: m7-m9, q4: m10-12), the "time" field stores the milliseconds from 1/1/1970, hint: timestamp.

In [6]:
from datetime import datetime

In [13]:
time = pd.to_datetime(data.time, unit="ms")
time

0      2018-10-13 23:59:28.010
1      2018-10-13 23:58:49.610
2      2018-10-13 23:57:42.610
3      2018-10-13 23:56:18.070
4      2018-10-13 23:51:56.050
                 ...
9327   2018-09-18 00:23:48.060
9328   2018-09-18 00:22:15.130
9329   2018-09-18 00:18:28.180
9330   2018-09-18 00:12:25.350
9331   2018-09-18 00:01:04.470
Name: time, Length: 9332, dtype: datetime64[ns]

In [ ]:
data['time'] = time

In [14]:
x0 = pd.DatetimeIndex(time).month
x0

Int64Index([10, 10, 10, 10, 10, 10, 10, 10, 10, 10,
            ...
             9,  9,  9,  9,  9,  9,  9,  9,  9,  9],
           dtype='int64', name='time', length=9332)

In [15]:
q1 = data.mag[(x0>=1)&(x0<=3)].mean()
q1

nan

In [16]:
q2 = data.mag[(x0>=4)&(x0<=6)].mean()
q2

nan

In [17]:
q3 = data.mag[(x0>=7)&(x0<=9)].mean()
q3

1.466735124760082

In [18]:
q4 = data.mag[(x0>=10)&(x0<=12)].mean()
q4

1.5360446493569568